@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div id="generic_price_table">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--PRICE HEADING START-->
                        <div class="price-heading clearfix">
                            <br />
                            <h1 style="display:inline-block;">Institutes Database</h1> (a developer initiative)
                        </div>
                        <!--//PRICE HEADING END-->
                    </div>
                </div>
            </div>
            <div class="container">
                <div style="background-color:grey; height:50px;">
                    <input type="text" placeholder=" Search (Institute Name, City, Pincode)" style="height:50px;width:90%;" />
                    <i style="margin:5px 10px;" class="fa fa-search fa-2x" aria-hidden="true"></i>
                    <button style="background-color:grey; height:40px;">
                        <i style="" class="fa fa-plus fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
                <!--BLOCK ROW START-->
                <div class="row tile-container">
                    <div class="col-md-4">

                        <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">

                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix" style="background-image:url('/img/university_icon_2.jpg');background-size: contain;background-size: 100% 100%;position:relative;">

                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">

                                    <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Institution Name Can be very long text</span>
                                    </div>
                                    <!--//HEAD END-->
                                    <!--PRICE START-->
                                    <div class="generic_price_tag clearfix">
                                        <span class="price">
                                            <span class="sign"></span>
                                            <span class="currency"></span>
                                            <span class="cent"></span>
                                            <span class="month"></span>
                                        </span>
                                    </div>
                                    <!--//PRICE END-->
                                </div>
                                <!--//HEAD CONTENT END-->
                                <a style="position:absolute;right:5px;bottom: 5px;" href="javascript:void(0);"><img class="img-upl" src="~/img/upload_1.png" width="40" style="" /></a>
                            </div>
                            <!--//HEAD PRICE DETAIL END-->
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                    <li><label>Type</label> University</li>
                                    <li><label>Affiliation</label> Affiliated University</li>
                                    <li><label>Address</label> Full AddressFull AddressFull AddressFull AddressFull AddressFull AddressFull AddressFull Address AddressFull Address AddressFull Address</li>
                                    <li><label>Contact</label>Contact</li>
                                    <li><label>Email</label> Email@tetet.com</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                                <a class="" href="javascript:void(0);">Details</a>
                                <a onclick="" class="" href="javascript:void(0);">Report</a>
                            </div>
                            <!--//BUTTON END-->

                        </div>
                        <!--//PRICE CONTENT END-->

                    </div>
                </div>
                <!--//BLOCK ROW END-->

            </div>
        </section>
        <footer>
            <a class="bottom_btn" href="https://immanuel.co"><span style="text-transform: lowercase;font-size:smaller;">powered by </span>&copy; Immanuel</a>
        </footer>
        <input type="file" id="file_upl" style="display:none;" />
        <div id="detail-container" style="position:fixed;width:100%;height:100%;overflow-y:auto;overflow-x:hidden;left:0px;top:0px;background-color: #000000eb;z-index:10;">
            <a id="cls-detail" style="cursor:pointer;position:fixed;right:35px;top:15px;z-index:15;"><img src="~/img/cls_ico.png" style="" width="40" /></a>
            <div class="header" id="top">
                <h1>Sarah Tucker College (Tirunelveli)</h1>
                <i class="fa fa-angle-down animated bounce"></i>
            </div>

            <div class="section animate">
                <div class="middle">
                    @*<img src="https://images.unsplash.com/photo-1460400408855-36abd76648b9?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />*@
                    <img src="~/img/history_1.jpg" />
                </div>
                <div class="left title">
                    <div class="content" style="text-align:left;">
                        <h2>History</h2>
                        <p>During the early decades of the 19th Century when the benefits of schools were reaped only by boys, Girls were prohibited to learn from male teachers. So if the lamp of learning were to be carried into the dark recesses of the Indian Villages and towns some acceptable method was to be devised.</p>
                        <p>The Missionary Societies met the problem by appealing for women missionaries to cohttp://sarahtuckercollege.edu.in/web/wp-content/uploads/2018/05/sarah-264x300.pngme out to India and take up the task of educating their Indian Sisters. Several women missionaries volunteered for service in India. The most important among them was ‘Sarah Tucker’, an invalid lady confined to her room, who was to become the far-off and almost fairy-like founder of the schools and college who so fittingly bear her name moved by reports about illiterate Women of India, she steeped in with a crusading spirit to provide schools for them. Seated at her desk, she wrote letters to her friends appealing for funds. Miss Sarah Tucker’s 24 Sovereigns came handy  to open,  Tinnevelly  Female  Normal  School  in  1843.  Miss Sarah Tucker died in December, 1857. But her friends raised funds to open a ‘Training School for Women’ at Palayamcottah</p>
                        @*<a href="#" class="btn-primary">Learn more</a>*@
                    </div>
                </div>
                <div class="right title">
                    <div class="content" style="top: 5px;text-align:left;">
                        <div class="list-wrap">
                            <h2>Time Line</h2>
                            <ul id="list">
                                <li class="in"><span style="font-weight:bolder">1942: </span>Apple pie</li>
                                <li class="in">Pumpkin pie</li>
                                <li class="in">Banana-creme pie</li>
                                <li class="in">Peach-blackberry cobbler</li>
                                <li class="in">Chocolate-strawberry torte</li>
                                <li class="in">Chocolate-zucchini cake</li>
                                <li class="in">Anything involving chocolate and mint</li>
                                <li class="in">Red-velvet cake</li>
                                <li class="in">Anything involving fruits that aren't cherries</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="right tiles">
                        <img src="https://images.unsplash.com/photo-1460400408855-36abd76648b9?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                        <img src="https://images.unsplash.com/photo-1460400408855-36abd76648b9?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                        <img src="https://images.unsplash.com/photo-1460400408855-36abd76648b9?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                        <img src="https://images.unsplash.com/photo-1460400408855-36abd76648b9?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                    </div>*@
            </div>

            <div class="section">
                <div class="middle">
                    @*<img src="https://images.unsplash.com/photo-1464655646192-3cb2ace7a67e?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />*@
                    <img src="~/img/founders_1.png" />
                </div>
                <div class="right title">
                    <div class="content" style="text-align:left;">
                        <h2>Founders</h2>
                        <p>The Sarah Tucker Institutions are to be remembered as the nursery of some pioneer institutions for the education of the handicapped in the whole of India. After three decades of resolute spadework, the Upper Primary Boarding School attached to the Training Institution was upgraded as the ‘Sarah Tucker High School’ in 1890 with 5 Girl students. Miss Askwith had the Confidence and Courage to raise the Sarah Tucker High School to a Second Grade College and get it affiliated to the University of Madras in 1895 as the First College exclusively for women in the whole of India to the South of Lucknow</p>
                    </div>
                </div>

                <div class="left tiles">
                    <img src="~/img/sarah-264x300.png" />
                    <img src="~/img/sarah-264x300.png" />
                    <img src="~/img/sarah-264x300.png" />
                    <img src="~/img/sarah-264x300.png" />
                </div>

            </div>

            <div class="section">
                <div class="middle">
                    <img src="https://images.unsplash.com/photo-1465326117523-6450112b60b2?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                </div>
                <div class="left title">
                    <div class="content">
                        <h2>Address</h2>
                        <p>
                            Perumalpuram,Tirunelveli
                            Tamilnadu - 627007
                        </p>
                    </div>
                </div>

                <div class="right tiles">
                    <img src="~/img/sarah_1.jpg" />
                    <img src="~/img/sarah_2.jpg" />
                    <img src="~/img/sarah_3.jpg" />
                    <img src="~/img/sarah_4.jpg" />
                </div>

            </div>

            <div class="section">
                <div class="middle">
                    <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                </div>
                <div class="right title">
                    <div class="content">
                        <h2>Contact</h2>
                        <p>
                            0462-2530597
                            sarahtucker95@rediffmail.com
                        </p>
                    </div>
                </div>

                <div class="left tiles">
                    <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                    <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                    <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                    <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80" />
                </div>

            </div>

            <div class="footer">
                <a href="#top" class="scrollTo"><i class="fa fa-angle-up animated bounce"></i></a>
                <h1>Scroll Up</h1>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/ark-js-util@latest/ark-util.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ark-js-log@latest/ark-log.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        inst.render([...Array(10).keys()]);
    </script>
</body>
</html>